HTML,body{
	height: 100%;
}

*{
	margin: 0px auto;
	padding:0px;
}

body{
	text-align:center;color:#90683b;background:#ffebd2 ;
}

a:hover{color:#b52200;}

a{text-decoration: none;}

img{border:none;}


.middle{
	width: 100%;
	margin: 0px auto 0px;
	padding-top: 10px;
	background-image:url(../图片/背景6.png);
	height:1000px;
}

.middle img{
	width: 100%;
	height: 100%;
}

.top{
	width:100%;
	padding-top:10px;
}

.logo img{
	float:left;
	height:110px;
	width: 700px;
}

.logo{
	width: 700px;
	float: left;
	margin-left: 50px;
}

.top_nav{
	margin-left: 10px;
	float: right
}

.fr{
	float:right;
	top:  0px;
	position: absolute;
}

.nav{
	position:relative;
	width:1200px;
	height:110px; 
	top:0px;
	left:10px;
}

.nav li {
	float: left;
	width:110px; 
	height:139px;
	list-style-type: none;
}

.navlist{
	position:relative;
	top:25px;
	left:0px;
	width:110px;
	height:130px;
	padding-top:10px;
	float: left;
	color:#4D4D4D;
}

#middle_nav{
	clear: both;
	margin-top: 50px;
	border: 2px #FF0000 solid;
	background-color: #963;
	height: 80px;
	line-height: 80px;
	width:95%;
	border-radius:45px;
}

#middle_nav li{
	float: left;
	height: 80px;
	line-height: 80px;
	font-size: 30px;
	width: 200px;
	list-style-type: none;
	text-align: center;
	font-weight: bold;
	font-family:"隶书";
}

#middle_nav li:hover {
	background-color: #900;
	border-radius:45px;
}

#middle_nav li a{
	color: #F30;
}
#middle_nav li a:hover{
	color: #FF6;
}

#cart img{
	width:170px;
	height:130px;
}

#cart{
	float:right;
	margin-top:-25px;
	clear:none;
}

.now_page{
	color: #FF6;
	background-color: #900;
	border-radius:45px;
}

.ct-word{
	float:right;
	margin-right:25px;
	color:#FF3;
	font-size:35px;
	font-family:"隶书";
}







.center{
	width: 95%;
	margin: 0px auto 0px;
}

#ct-p1 video{
	width: 100%;
	height: auto;
	margin-top: 50px;
}

#ct-list{
	width: 20%;
	float: left;
}

#ct-mainword{
	width: 75%;
	float: right;
}

#ct-login{
	height: 120px;
	width: 250px;
	margin-top: 50px;
}

#ct-login img{
	border-radius: 15px;
}

#ct-login img:hover{
	height: 140px;
	width: 260px;
}

.denglu{
	background:  url(../图片/背景5.jpg);
	width: 65%;
	height: 80px;
	line-height: 80px;
	border: #E8B4B5 5px outset;
	border-radius: 5px;
	font-size: 25px;
	color:goldenrod;
	font-family: '华文楷体';
}

.denglu a{
	color: goldenrod;
}

.denglu:hover{
	font-size: 30px;
	color: red;
}

.denglu a:hover{
	color: red;
}

#ct-lp{
	width: 220px;
	height: 190px;
	margin-top: 70px;
	border-radius: 5px;
}

#ct-lp img{
	border-radius: 5px;
}

#ct-llp{
	width: 220px;
	height: 400px;
	margin-top:230px;
}

#ct-llp img{

	height: 400px;
}

#jisshao{
	width: 100%;
}

#jisshao img{
	width: 400px;
	margin: 50px;
	margin-left: 0px;
	float: left;	
	margin-top: 0px;
}

#js-word{
	margin-top: 50px;
	font-size: 18px;
}

#js-word span{
	font-size: 45px;
}
#js-word p{
	text-align: left;
}

#twoweima img{
	width: 120px;
	height: 120px;
	padding-top: 10px;
}

#twoweima{
	margin-top: 50px;
	border:2px red solid;
	width: 180px;
	height: 205px;
	font-size: 25px;
}

#zs-left{
	float: left;
	width: 10%;
	font-size: 55px;
	border: #8D5100 15px inset;
	height: 400px;
	line-height: 100px;
	margin-top: 130px;
	font-weight: bold;
}

#zs-right{
	width: 75%;
	float:right;
}


.zs-pic{
	margin-top: -15px;
	margin-left: -100px;
}

.zs-pic img{
	width: 200px;
	height: 200px;
	float: left;
	margin-left: 25px;
	margin-top: 25px;
	border: #FFEA00 4px double;
}

#js-pic img{
	margin-top: 20px;
	width: 1100px;
	height: 400px;
	margin-left: 15px;
}





.bottom{
	background-color:#EFBA58;
	clear:both;
	height: 300px;
	width: 95%;
	margin-top: 1900px;
}

.bottom-cop{
	border-top:4px #FF0000 solid;
	width:95%;
	margin:0px auto 0px;
	margin-top:20px;
}

.bt-iogo img{
	float:left;
	height:120px;
	padding:5px;
	width:120px;
}

.bt-iogo{
	float:left;
	width:12%;
	height:150px;
	margin-top: 8px;
}

.bottom_list{
	float:left;
	width:24%;
	margin-right:5px;
	line-height: 45px;
}

.bottom_content{
	width:90%;
	margin:0px auto 0px;
	padding-top:25px;
}

.bottom_title{
	font-size:20px;
	font-weight:bold;
	color:;
	font-family:"华文楷体"
}

.bottom-copr{
	float:left;
	margin-top:35px;
	border-left:2px #FF0004 solid;
}

.beihang img{
	width: 80px;
	margin-top: 32px;
	margin-right: 20px;
	margin-left: 40px;
	
}

.beihang{
	float: left;
	border-right-color:2px #FF0004 solid;
}

.bt-word{
	float:left;
	clear:both;
	margin-left:35px;
}