HTML,body{
	height: 100%;
}

*{
	margin: 0px auto;
	padding:0px;
}

body{
	text-align:center;
	color:#90683b;
	background:#ffebd2 
}

a:hover{color:#b52200;}

a{text-decoration: none;}

img{border:none;}

.middle{
	width: 100%;
	margin: 0px auto 0px;
	padding-top: 10px;
	background-image:url(../图片/背景6.png);
	height:1000px;
}

.middle img{
	width: 100%;
	height: 100%;
}

.top{
	width:100%;
	padding-top:10px;
}

.logo img{
	float:left;
	height:110px;
	width: 700px;
}

.logo{
	width: 700px;
	float: left;
	margin-left: 50px;
}

.top_nav{
	margin-left: 10px;
	float: right
}

.fr{
	float:right;
	top:  0px;
	position: absolute;
}

.nav{
	position:relative;
	width:1200px;
	height:110px; 
	top:0px;
	left:10px;
}

.nav li {
	float: left;
	width:110px; 
	height:139px;
	list-style-type: none;
}

.navlist{
	position:relative;
	top:25px;
	left:0px;
	width:110px;
	height:130px;
	padding-top:10px;
	float: left;
	color:#4D4D4D;
}

#middle_nav{
	clear: both;
	margin-top: 50px;
	border: 2px #FF0000 solid;
	background-color: #963;
	height: 80px;
	line-height: 80px;
	width:95%;
	border-radius:45px;
}

#middle_nav li{
	float: left;
	height: 80px;
	line-height: 80px;
	font-size: 30px;
	width: 200px;
	list-style-type: none;
	text-align: center;
	font-weight: bold;
	font-family:"隶书";
}

#middle_nav li:hover {
	background-color: #900;
	border-radius:45px;
}

#middle_nav li a{
	color: #F30;
}
#middle_nav li a:hover{
	color: #FF6;
}

#cart img{
	width:170px;
	height:130px;
}

#cart{
	float:right;
	margin-top:-25px;
	clear:none;
}

.now_page{
	color: #FF6;
	background-color: #900;
	border-radius:45px;
}

.ct-word{
	float:right;
	margin-right:25px;
	color:#FF3;
	font-size:35px;
	font-family:"隶书";
}



.center{
	width: 95%;
	margin: 0px auto 0px;
}

.ct-zuolan{
	float: left;
	width: 20%;
	margin-top: 100px;
	margin-left: -250px;
		
}

#coin img{
	width: 20px;
}

.ct-right{
	float: right;
	width: 70%;
	margin-top: 50px;
	background:#ffebd2 ;
	text-align: center;	
	border-radius:25px;
}

#sanguologo{
	height: 66px;
	line-height: 66px;
	float: left;
	margin-top: 20px;
	font-size: 20px;
	font-weight: bold;
	color:#FF0004;
	margin-right: -50px;
	font-family:"汉仪柳楷繁";
	font-size: 30px;
}

#sanguologo img{
	width: 66px;
	height: 66px;
	margin-bottom: -25px;
}

#ct-rt{
	font-size: 90px;
	font-family:'汉仪颜楷繁';
	text-align: center;
	background:#ffebd2 ;
	padding-top: 30px;
	padding-left: 80px;
	border-radius:45px;
	color: #FF0004
}

#ct-rb{
	background:#ffebd2 ;
	float: left;
	margin-top: 50px;
	height: 180px;
	border-radius:45px;
}
#ct-rb p{
	text-align: left;
	font-size: 25px;
	padding-left: 20px;
	margin:  0px auto 0px;
	text-align: center;
	margin: 3px;
	font-family:"华文隶书";
}

#sima img{
	height: 4s00px;
	width: 100%;
}


.bottom{
	background-color:#EFBA58;
	clear:both;
	height: 300px;
	width: 95%;
	margin-top: 1100px;
}

.bottom-cop{
	border-top:4px #FF0000 solid;
	width:95%;
	margin:0px auto 0px;
	margin-top:20px;
}

.bt-iogo img{
	float:left;
	height:120px;
	padding:5px;
	width:120px;
}

.bt-iogo{
	float:left;
	width:12%;
	height:150px;
	margin-top: 8px;
}

.bottom_list{
	float:left;
	width:24%;
	margin-right:5px;
	line-height: 45px;
}

.bottom_content{
	width:90%;
	margin:0px auto 0px;
	padding-top:25px;
}

.bottom_title{
	font-size:20px;
	font-weight:bold;
	color:;
	font-family:"华文楷体"
}

.bottom-copr{
	float:left;
	margin-top:35px;
	border-left:2px #FF0004 solid;
}

.beihang img{
	width: 80px;
	margin-top: 32px;
	margin-right: 20px;
	margin-left: 40px;
	
}

.beihang{
	float: left;
	border-right-color:2px #FF0004 solid;
}

.bt-word{
	float:left;
	clear:both;
	margin-left:35px;
}